# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Pytest / reports
.pytest_cache/
reports/
allure-results/
allure-report/
screenshots/
logs/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
